{% extends "base.html" %} 

{% block head %}
<link rel="stylesheet" href="../../../static/style.css" />
{% endblock %}

{% block contents %} 
<div class="row mt-2 mx-2">
  <div class="col-12">
    <table class="table table-light">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">사용자명</th>
          <th scope="col">회원이름</th>
          <th scope="col">전화번호</th>
          <th scope="col">주소</th>
          <th scope="col">회원상태</th>
          <th scope="col">등록일시</th>
          <th scope="col">등록삭제</th>
        </tr>
      </thead>
      <tbody class="text-dark">
        {% for evuser in evuserList %}
        <tr>
          <th scope="row">{{ evuser.id }}</th>
          <th><a href="/evuser/{{ evuser.id }}">{{ evuser.userid }}</a></th>
          <th>{{ evuser.name }}</th>
          <th>{{ evuser.phone }}</th>
          <th>{{ evuser.address }}</th>
          <th>{{ evuser.status }}</th>
          <th>{{ evuser.register_dttm }}</th>
          <th><a class="btn btn-primary btn-sm btn-danger" id="evuser-{{ evuser.id }}" href="/evuser/{{ evuser.id }}/delete" target="_blank">삭제</a></th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="pagination justify-content-center mt-5">
      <ul class="step-links">
        {% if page_obj.has_previous %}
        <a class="btn btn-sm btn-outline-primary" href="?page=1">처음으로</a>
        <a class="btn btn-sm btn-outline-primary" href="?page={{ page_obj.previous_page_number }}">이전으로</a>
        {% else %}
        <a class="btn btn-sm btn-outline-primary disabled" href="#">처음으로</a>
        <a class="btn btn-sm btn-outline-primary disabled" href="#">이전으로</a>
        {% endif %}
      <span class="current">
        {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
      </span>
        {% if page_obj.has_next %}
        <a class="btn btn-sm btn-outline-primary" href="?page={{ page_obj.next_page_number }}">다음으로</a>
        <a class="btn btn-sm btn-outline-primary" href="?page={{ page_obj.paginator.num_pages }}">마지막으로</a>
        {% else %}
        <a class="btn btn-sm btn-outline-primary disabled" href="#">다음으로</a>
        <a class="btn btn-sm btn-outline-primary disabled" href="#">마지막으로</a>
        {% endif %}
      </ul>
    </div>
  </div>
</div>

{% endblock %} 

{% block script %}
<script src="../../../static/script.js"></script>
{% endblock %}