{% extends "base.html" %} 

{% block head %}
<link rel="stylesheet" href="../../../static/style.css" />
{% endblock %}

{% block contents %} 
<div class="container mt-3 mx-3">
  <h4>회원 상세정보</h4>
  <div class="row mt-5">
    <div class="col-12">
      <div class="form-group mb-3">
        <label for="username" class="">사용자명</label>
        <input type="text" class="form-control" id="username" value="{{ evuser.username }}" readonly/>
        <label for="name" class="">이름</label>
        <textarea class="form-control" readonly>{{ evuser.name }}</textarea>
      </div>
      <!-- <button class="btn btn-primary" onclick="location.href='/svchome/'">돌아가기</button> -->
      <div class="d-grid gap-2 d-md-block">
        <a class="btn btn-primary" href="/update/{{ evuser.id }}" role="button">회원정보수정</a>
        <!-- <button class="btn btn-primary" type="button" onclick="/evuser/{{ evuser.id }}">회원정보수정</button> -->
        <button class="btn btn-primary" onclick="javascript:history.go(-1);">돌아가기</button>
      </div>
    </div>
  </div>
</div>
{% endblock %} 

{% block script %}
<script src="../../../static/script.js"></script>
{% endblock %}