{% extends "base.html" %} 

{% block head %}
<link rel="stylesheet" href="../../../static/style.css" />
{% endblock %}

{% block contents %}
<div class="container mt-3 mx-3">
  <h4>충전기정보 삭제</h4>
  <div class="row mt-5">
    <div class="col-12">
      다음 충전기를 삭제합니다: {{ evcharger.cpname }}
      <form method="post">
        {% csrf_token %}
        <button class="btn btn-danger btn-sm mt-3">확인</button>
      </form>
    </div>
  </div>
</div>
{% endblock %} 

{% block script %}
<script src="../../../static/script.js"></script>
{% endblock %}S