
{% extends "base.html" %}

{% block contents %}
<div class="row mt-3 mx-3">
  <div class="col-md-6 fw-bold"><h4>메세지로그정보</h4></div>
  <div class="col-md-2">
    <select class="form-select form-select-sm" aria-label="Default select example">
      <option selected>검색유형</option>
      <option value="1">회원번호</option>
      <option value="2">회원이름</option>
      <option value="3">전화번호</option>
      <option value="4">충전기번호</option>
      <option value="5">충전기이름</option>
    </select>
  </div>
  <div class="col-md-2">
    <select class="form-select form-select-sm" aria-label="Default select example">
      <option selected>회원이름</option>
      <option value="1">회원이름</option>
      <option value="2">휴대폰번호</option>
      <option value="3">회원번호</option>
    </select>
  </div>
  <div class="col-md-2">
    <form>
      <div class="input-group input-group-sm">
        <input type="text" class="form-control" placeholder="" aria-label="Recipient's userid" aria-describedby="button-addon2">
        <button class="btn btn-primary" type="button" id="button-addon2">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </form>
  </div>
</div>
<div class="row mt-3 mx-3">
  <div class="col-md-6 fw-bold"><h5>메세지로그정보</h5></div>
  <div class="col-md-3 d-grid justify-content-md-end">
    <button class="btn btn-primary btn-sm" 
      onclick="location.href='/charginginfo/register/'">메세지로그정보추가
    </button>
  </div>
  <div class="col-md-3">
    <div class="row justify-content-end">
      <label class="col form-select-sm text-end">정렬기준</label>
      <select class="col form-select form-select-sm" aria-label="Default select example">
        <option selected>회원이름</option>
        <option value="1">회원이름</option>
        <option value="2">휴대폰번호</option>
        <option value="3">회원번호</option>
      </select>
    </div>
  </div>
</div>
<div class="row mt-2 mx-2">
  <div class="col-12">
    <table class="table table-light">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">충전기</th>
          <th scope="col">커넥션아이디</th>
          <th scope="col">메세지오리진</th>
          <th scope="col">메세지이름</th>
          <th scope="col">메세지본문</th>
          <th scope="col">등록일시</th>
        </tr>
      </thead>
      <tbody class="text-dark">
        {% for msgloginfo in msglogList %}
        <tr>
          <th scope="row">{{ msgloginfo.id }}</th>
          <th><a href="/charginginfo/{{ charginginfo.id }}">{{ msgloginfo.cpname }}</a></th>
          <th>{{ msgloginfo.connection_id }}</th>
          <th>{{ msgloginfo.msg_direction }}</th>
          <th>{{ msgloginfo.msg_name }}</th>
          <th>{{ msgloginfo.msg_content }}</th>
          <th>{{ msgloginfo.register_dttm }}</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="pagination justify-content-center mt-5">
      <ul class="step-links">
        {% if page_obj.has_previous %}
        <a class="btn btn-sm btn-outline-primary" href="?page=1">처음으로</a>
        <a class="btn btn-sm btn-outline-primary" href="?page={{ page_obj.previous_page_number }}">이전으로</a>
        {% else %}
        <a class="btn btn-sm btn-outline-primary disabled" href="#">처음으로</a>
        <a class="btn btn-sm btn-outline-primary disabled" href="#">이전으로</a>
        {% endif %}
      <span class="current">
        {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
      </span>
        {% if page_obj.has_next %}
        <a class="btn btn-sm btn-outline-primary" href="?page={{ page_obj.next_page_number }}">다음으로</a>
        <a class="btn btn-sm btn-outline-primary" href="?page={{ page_obj.paginator.num_pages }}">마지막으로</a>
        {% else %}
        <a class="btn btn-sm btn-outline-primary disabled" href="#">다음으로</a>
        <a class="btn btn-sm btn-outline-primary disabled" href="#">마지막으로</a>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}